body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
.container{
    flex:1;
}
.navbar{
    height:5rem;
    background-color:white;
}
.fa-location-arrow{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}
.f-info-links a{
    text-decoration:none;
    color:#222222;
}
.f-info-links a:hover {
    text-decoration:underline;
}
.f-info-links  {
    width:100%;
}
.f-info-social {
    width:100%;
    font-size:1.5rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-evenly;
}
.card{
    border: none !important;
    margin-bottom:2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit:cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight:400;
}
.listing-links {
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white;
}

.add-btn{
    border: none !important;
    background-color: #fe424d !important;
}
.edit-btn{
    border: none !important;
    background-color: #fe424d !important;
}
/* //Show page */

.show-img{
    height:30vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left:0;
    padding-right:0;
}
/* .flash-btn{
    border:2px solid rgb(17, 232, 17);
    border-radius:30%;
    color:azure;
    background-color: rgb(17, 232, 17);
} */

.alert{
    width: 400px;
}
.card-edit{
    width:150px !important;
    height:100px !important;
    border-radius: 5% !important;
}

#map{
    width:100px;
    height:100px;
}
